<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    namespace 的名字和接口相同-->
<mapper namespace="com.shk.mapper.UserMapper">
<!--    id的名字和接口中的方法名一致-->
    <insert id="insertUser">
        insert into user(id, username, password) values(null, 'dd24', '123');
    </insert>

    <select id="selectUser" resultType="com.shk.pojo.User">
        select * from user;
    </select>
<!--     int updateUser();-->
    <update id="updateUser">
        update user set password = '12354' where username = 'dd';
    </update>
<!--    getUsername();-->
    <select id="getUsername" resultType="User">
        select * from user where id = 2;
    </select>
<!--    getUserByUsername(String userName)-->
<!--    sql的变量传递方式有两周
1.#{}的本质是占位符，字符串不用你自己加引号
${}的本质是字符串拼接，需要你自己来加引号
字符串的名字不必和函数中的名字一致-->
    <select id="getUserByUsername" resultType="User">
        select * from user where username = #{username};
    </select>

<!--    checkLogin(String userName, String password)-->
<!--    <select id="checkLogin" resultType="User">-->
<!--        select * from user where username = #{username} and password = #{password};-->
<!--    </select>-->
<!--    insertUserByUser-->
    <insert id="insertUserByUser" >
        insert into user values(null, #{userName}, #{password});
    </insert>

    <!--    checkLogin(String userName, String password)-->
<!--    <select id="checkLogin" resultType="User">-->
<!--        select * from user where username = #{username} and password = #{password};-->
<!--    </select>-->
</mapper>